@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-3">
        <h2>Links</h2>
        <ul>
            <li><a href="/zipcodes/48084">Zipcode 48084 (Troy)</a></li>
            <li><a href="/zipcodes/64105">Zipcode 64105 (Kansas City)</a></li>
            <li><a href="/distance/42.5597,-83.1762/39.1048,-94.5949">Distance between 42.5597,-83.1762 & 39.1048,-94.5949</a></li>
        </ul>
    </div>
</div>
