@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-3">
        <h2>Links</h2>
        <ul>
            <li><a href="/zipcodes/48084">Zipcode 48084</a></li>
            <li><a href="/zipcodes/85225">Zipcode 44870</a></li>
            <li><a href="/distance/42.5597,-83.1762/33.3092,-111.8211">Distance between 42.5597,-83.1762 & 33.3092,-111.8211</a></li>
        </ul>
    </div>
</div>
