@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-3">
        <h2>Links</h2>
        <ul>
            <li><a href="/zipcodes/48084">Zipcode 48084</a></li>
            <li><a href="/zipcodes/37235">Zipcode 37235</a></li>
            <li><a href="/distance/42.5597,-83.1762/36.1461,-86.8043">Distance between 42.5597,-83.1762 & 36.1461,-86.8043</a></li>
        </ul>
    </div>
</div>
