@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-3">
        <h2>Links</h2>
        <ul>
            <li><a href="/zipcodes/48084">Zipcode 48084</a></li>
            <li><a href="/zipcodes/18349">Zipcode 18349</a></li>
            <li><a href="/distance/42.5597,-83.1762/41.1033,-75.3675">Distance between 42.5597,-83.1762 & 41.1033,-75.3675</a></li>
        </ul>
    </div>
</div>
